<center> 
  <H1> TUTEES'S HOMEPAGE </H1>

  <%= link_to "TUTORS", tutorsList2_path %> |
  <%= link_to "TUTEES", tuteesList2_path %> |
  <%= link_to "CLASSES", classesList2_path %> |
  <%= link_to "TUTOR REQUESTS' LOG", requestlog_path %> 
  
</center>

<center> <H3>My Classes Enrolled at</H3> </center>
