<center> 
  <H1> TUTOR'S HOMEPAGE </H1>

  <%= link_to "TUTORS", tutorsList3_path %> |
  <%= link_to "TUTEES", tuteesList3_path %> |
  <%= link_to "CLASSES", classesList3_path %> |
  <%= link_to "TUTOR REQUESTS' LOG", requestlog_path %> 
  
</center>

<center> <H3>REQUESTS LOG</H3> </center>
